@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Barlow Semi Condensed';
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400
    ;
}

header {
    background-color: rgb(86, 165, 255);
    display: flex;
    align-items: center;
    border-top: white;
    border-radius: 10px;
}

ul {
    width: 100;
}

#menu1{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        z-index: 10;
    }

#menu1 ul{
        position: relative;
        display: block;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
        list-style: none;
}

#menu1 > ul::after{
    display: block;
    width: 100%;
    height: 0px;
    clear: both;
    content: " ";
}

#menu1 ul li{
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    }

#menu1 ul li a{
    display: block;
    padding: 9px 25px 0px 25px;
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

#menu1 ul li ul{
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 200px;
    background: #ffffff;
}

#menu1 ul li:hover ul{
    display: block;
}

#menu1 ul li ul li{
    float: none;
    width: 100%;
}

#menu1 ul li ul li a{
    display: block;
    text-transform: none;
    height: auto;
    padding: 7px 25px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #9fc8ff;
    color: rgb(45, 171, 245);
    }
    #menu1 ul li ul li:first-child a{
    border-top: 0px;
}

body {
    background-image: url("https://lhcdn.mars.com/cdn-cgi/image/width=1440,height=640,f=auto,quality=90/adaptivemedia/rendition/id_a3fbaec37e9d0f7596ebd1e228357e96b2f9a240/name_a3fbaec37e9d0f7596ebd1e228357e96b2f9a240.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #474ae9;
}

footer {
    background-color: white;
    border-radius: 25px;
    text-align: center;
}

main {
    background-color: white;
    border-radius: 25px;
    text-align: center;
}